# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large STEP files (too big for git)
step-examples/complex/nissan-gtr.step
step-examples/complex/scania-engine.step
step-examples/complex/scania-8x4.step
step-examples/complex/rocky_house.step.rtf
